{{ $root := . }}
{{if .Events}}
## events
{{ range $key, $fns := .Events }}
- `{{ $key }}` listened to by{{ range $fns }} `{{.}}`{{end}}{{ end }}
{{ end }}
## functions
{{ range $key, $env := .Functions }}
- `{{ $key }}` {{ end }}
## jobs
{{ range $key, $env := .Jobs }}
- `{{ $key }}` {{ end }}
