{{ $root := . }}
{{if .Events}}
## Events
{{ range $key, $fns := .Events }}
- `{{ $key }}` listened to by{{ range $fns }} `{{.}}`{{end}}{{ end }}
{{ end }}
## Functions
{{ range $key, $env := .Functions }}
- `{{ $key }}` {{ end }}
## Jobs
{{ range $key, $env := .Jobs }}
- `{{ $key }}` {{ end }}
