node_modules
mattermost-redux
/.env
/mls
/mls-bot
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsLibraryMappings.xml
/.idea/matterless.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
